<p>Home#index - Find me in app/views/home/index.html.erb</p>

<h1>What is ShopRight?</h1>
<hr>
<div>
	<p>
		Shopright is an application that helps users decide what they'd like to eat by displaying a menu of common meals (sorted by Vegetarian, Vegan and Omnivore). Users can then choose which meals they'd like to eat for the week (or occasion) and the ingredients for those meals will be added to a shopping list.
		Users can then add items (like milk/bread etc) or delete items/ingredients that they already have.
		Once satisfied with their shopping list, users can then share the shopping list as an email.
	</p>
</div>

<div>
	<p>
		Register <%= link_to "here", new_user_registration_path %> if you'd like to be able to save your shopping lists.
	</p>

	<p>Registered users can log in below:</p>

	<p>
		<%= form_for(:user, :url => session_path(:user), html: { class: "navbar-form navbar-right form-inline" }) do |f| %>
			<div class="form-group">
				<%= f.text_field :email, :placeholder => "Email", class: "form-control" %> 
			</div>

			<div class="form-group">
				<%= f.password_field :password, :placeholder => "Password", class: "form-control"  %>
			</div>

			<div class="checkbox">
				<%= f.check_box :remember_me %><%= f.label :remember_me %>
			</div>

			<%= f.submit 'Sign in', class: "btn btn-default" %>
		<% end %>
	</p>
</div>
