<%= form_for(@meal) do |f| %>
  <% if meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
      <% meal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :meal_image %>
    <%= f.file_field :meal_image %>
    
    <% if @meal.meal_image? %>
      <%= image_tag @meal.meal_image.url(:thumb) %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :method %>
    <%= f.text_area :method %>
  </div>

  <div class="field">
    <%= f.label :diet %><br />
    <%= f.select :diet, options_for_select([["Omnivore", "omnivore"],["Vegetarian", "vegetarian"], ["Vegan", "vegan"], ["Paleo", "paleo"]]) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<!-- Ingredients -->
<hr>
  
    <p>
      <strong>Ingredients:</strong>
      <table>
        <thead>
          <tr>   
            <th>Quantity</th>
            <th>Unit</th>
            <th>Name</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @ingredients.each do |ingredient| %>
            <tr> 
              <td><%= ingredient.quantity %></td>
              <td><%= ingredient.unit %></td>
              <td><%= ingredient.name %></td>
              <td>
                <%= link_to 'Delete', meal_ingredient_path(@meal, ingredient), method: :delete %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </p>
  
<!-- Adding: -->
<p>

  <h2>Add an Ingredient:</h2>

  <%= fields_for(@meal.ingredients.build) do |ff| %>
    
      <%= ff.label :quantity %>
      <%= ff.text_field :quantity %>
        
      <%= ff.label :unit %>
      <%= ff.select :unit, options_for_select([["g", "grams"], ["cups", "cups"], ["ml", "millilitres"], ["cans", "cans"], ]) %>
    
      <%= ff.label :name %>
      <%= ff.text_field :name %>
    
      <%= ff.submit "Add!"%>

  <% end %>

  <hr>
</p>
<!-- ______________ -->

<!-- ____________________ -->



<% end %>


