<p id="notice"><%= notice %></p>

<h1>Meals</h1>

<%= form_for :shopping_list, url: shopping_lists_path do |f| %>

<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Description</th>
        <th></th>
        <th></th>
        <th></th>
        <th>Select</th>
      </tr>
    </thead>


      <tbody>
        <% @meals.each do |meal| %>
          <tr>
            <td><%= image_tag meal.meal_image(:medium) %></td>
            <td><%= meal.name %></td>
            <td><%= meal.description %></td>
            <td><%= link_to 'Show', meal %></td>
            <td>
            <% if can? :update, Meal %>
              <%= link_to 'Edit', edit_meal_path(meal) %>
            <% end %>
            </td>
            <td>
            <% if can? :destroy, Meal %>    
              <%= link_to 'Destroy', meal, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            </td>

                                        <!-- This: 

                                        <td> <#%= check_box_tag("shopping_list[meal_ids][]", meal.id) %>
                                        </td>

                                        is the equivalent of: -->

            <td class="center">
              <input type="checkbox" name="shopping_list[meal_ids][]" value="<%= meal.id %>" >
            </td>
            
          </tr>        
        <% end %>
      </tbody>
  </table>
</div>


  <%= f.submit "Create Shopping List" %>
<% end %>



<br>

<% if can? :create, Meal %>
  <%= link_to 'New Meal', new_meal_path %>
<% end %>







<!-- Don't use -->
 
<%#= form_for :shopping_list, url: shopping_list_path do |f| %>
    <%#= f.collection_check_boxes :shopping_list, Meal.all, :id, :name  do |b|%>
      <%#= b.label class:"label-checkbox" do%>
         <%#=b.check_box + b.text%>
      <%#end%>
    <%# end %>

    <%#= f.submit "Create a Shopping List" %>
  <%# end %>

