<p id="notice"><%= notice %></p>

<p><%= image_tag @meal.meal_image %></p>

<p>
  <strong>Name:</strong>
  <%= @meal.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meal.description %>
</p>

<!-- Ingredients -->
<p>
	<strong>Ingredients:</strong>
	<table>
	  <thead>
	    <tr>   
	      <th>Quantity</th>
	      <th>Unit</th>
	      <th>Name</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @ingredients.each do |ingredient| %>
	      <tr> 
	        <td><%= ingredient.quantity %></td>
	        <td><%= ingredient.unit %></td>
	        <td><%= ingredient.name %></td>
	        <td>
	        	<%= link_to 'Destroy', meal_ingredient_path(@meal, ingredient), method: :delete %>
	        </td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</p>

<!-- ______________ -->


<p>
  <strong>Method:</strong>
  <%= @meal.method %>
</p>


<% if can? :update, Meal %>
  <%= link_to 'Edit', edit_meal_path(@meal) %> |
  <%= link_to 'Back', meals_path %>
<% else %>
  <%= link_to 'Back', meals_path %>
<% end %>

<!-- 
<#%= if can? :destroy, ingredient %>
<#% end %>

-->