<p id="notice"><%= notice %></p>

<p>
  <strong>Meal:</strong>
  <%= @ingredient_quantity.meal %>
</p>

<p>
  <strong>Ingredient:</strong>
  <%= @ingredient_quantity.ingredient %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @ingredient_quantity.quantity %>
</p>

<%= link_to 'Edit', edit_ingredient_quantity_path(@ingredient_quantity) %> |
<%= link_to 'Back', ingredient_quantities_path %>
