<p>
  <strong>Name:</strong>
  <%= @shopping_list.name %>

  <!-- Ingredients -->
<p>
	<strong>Ingredients:</strong>
	<table class="table table-bordered table-hover">
	  <thead>
	    <tr>   
	      <th>Quantity</th>
	      <th>Unit</th>
	      <th>Name</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @items.each do |item| %>
	      <tr> 
	        <td><%= item.quantity %></td>
	        <td><%= item.unit %></td>
	        <td><%= item.name %></td>
	        <td><%= link_to 'Remove', shopping_list_item_path(@shopping_list, item), method: :delete %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

	<h2>Add an item:</h2>

	<%= form_for([@shopping_list, @shopping_list.items.build]) do |f| %>
		
			<%= f.label :quantity %>
			<%= f.text_field :quantity %>
				
			<%= f.label :unit %>
			<%= f.select :unit, options_for_select([["g", "grams"], ["cups", "cups"], ["ml", "millilitres"], ["cans", "cans"], ]), include_blank: "Please select unit:"  %>
		
			<%= f.label :name %>
			<%= f.text_field :name %>
		

		<%= f.submit "Add!" %>

	<% end %>

</p>

   <!-- __________  -->


