<!DOCTYPE html>
<html>
  <head>
    <title>Shopright</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- start devise initial config -->

	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

  <!-- end devise initial config -->

    <%= yield %>
    
  </body>
</html>
